body {
    background-color: rgb(rgb(29, 218, 32), green, rgb(115, 243, 96));
}

.photo-uploader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adjust the value as needed */
}

.photo-uploader {
    display: flex;
    align-items: flex-start;
    /* Align items at the top of the flex container */
    justify-content: space-between;
    /* Add space between the two divs */
    border: 1px solid #ddd;
    padding: 20px;
}

#left-side {
    flex: 1;
    /* Take up available space */
    padding-right: 20px;
    /* Add some space between the two divs */
}

#right-side {
    flex: 1;
    /* Take up available space */
}

#photo-uploader {
    border: 1px solid #ddd;
    padding: 20px;
    display: block;
}

.uploaded-photo {
    margin-top: 20px;
    text-align: center;
}

.uploaded-photo img {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

.uploaded-photos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.uploaded-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

#form-check {
    display: inline-flex;
}

.coordinates-section {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
}

.coordinates-section h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.coordinates-section pre {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}

#checkBoxDiv {
    border: 1px solid #ddd;
    padding: 20px;
    display: block;
}

#buttonsDiv {
    border: 1px solid #ddd;
    justify-content: center;
    display: flex;
    padding-bottom: 5px;
}

#canvasDiv {
    border: 1px solid #ddd;
    justify-content: center;
    display: flex;
}